<!-- JJ -->
<div id="contentBoxApp">
    <div id="GridCtrl">  
      <div class="toolbar">
        <div class="container">
          <div class="toolbar-section">
            <span class="logo toolbar-item" (click)=getNews()><i class="fa fa-picture-o"></i>Türkiyeden Haberler</span>
          </div><!-- /.toolbar-section -->
          <div class="toolbar-section">
            
            <div class="toolbar-item form-field"> 
              <input type="button" style='height:100%' (click)="getNewsByCategory('science')" value="Bilim"/>
              <input type="button" style='height:100%' (click)="getNewsByCategory('business')" value="İş"/>
              <input type="button" style='height:100%' (click)="getNewsByCategory('sports')" value="Spor"/>
              <input type="button" style='height:100%' (click)="getNewsByCategory('technology')" value="Teknoloji"/>
              <input type="button" style='height:100%' (click)="getNewsByCategory('health')" value="Sağlık"/>

            </div>
          </div><!-- /.toolbar-section -->
        </div><!-- /.container -->
      </div><!-- /.toolbar -->
      <div class="container dynamic-grid">
        <article class="grid-item content-box" *ngFor="let news of data">
          <div class="inner">
          <img class="content-box-thumb"src="{{ news.urlToImage }}" alt="tech image" />
          <h1 class="content-box-header">
           <a href='{{news.url}}'> {{ news.title }} </a>
          </h1>
          <p class="content-box-blurb">
            {{ news.description }}
          </p>
          <a class="readmore-link" href="{{news.url}}">Tümünü Oku</a>
          </div>
        </article><!-- /.content-box -->
  
      </div><!-- /.dynamic-grid -->
    </div><!-- /#GridCtrl -->
  </div><!-- /#contentBoxApp -->
  <!-- SDG -->